body {
    font-family: Arial, Helvetica, sans-serif; padding: 10px;
    background-color: #f4f6f8;
}

header {
    background-color: #2563eb;
    color: #fff;
    padding: 20px ;
    text-align: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
}

.card {
    background-color: #ffffff;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
}

h2 {
    margin-bottom: 10px;
    color: #2563eb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card p {
    margin-bottom: 10px;
    color: #374151;
}

input {
    width: 100%;
    padding-top: 2px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    height: 30px;
    line-height: 30px;
}

input::placeholder {
    color: #9ca3af;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}


h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}