<<<<<<< HEAD


body {
    font-family: Arial, Helvetica, sans-serif; padding: 10px;
    background-color: #f4f6f8;
}

header {
    background-color: #2563eb;
    color: #fff;
    padding: 20px ;
    text-align: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
}

.card {
    background-color: #ffffff;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
}

h2 {
    margin-bottom: 10px;
    color: #2563eb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card p {
    margin-bottom: 10px;
    color: #374151;
}

input {
    width: 100%;
    padding-top: 2px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    height: 30px;
    line-height: 30px;
}

input::placeholder {
    color: #9ca3af;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}


h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
=======
body {
    font-family: Arial, Helvetica, sans-serif; padding: 10px;
    background-color: rgb(199, 234, 235);
    text-align: center;
    color: rgb(27, 24, 24);
}

div {
    text-align: initial;
    padding: 10px;
    margin: 20px;
}

header {
    background-color: #22222269;
    color: #fff;
    padding: 3cqh ;
    text-align: center;
    border-style:ridge;
    border-radius: 20%;
}

button {
    background-color: #22222269;
    color: white;
    padding: 8px 15px;
    border-style: double;
    border-color: white;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;

}

input {
    background-color: #22222269;
    color: white;
    padding: 15px;
    color: white;
    border-style: double;
    border-color: #22222269;
    margin: 5px 0;
    width: 90%;

}

::placeholder {
    color: #fff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    width: 400px;
    margin: 20px auto;
    background-color: #22222269;
    padding: 15px;
    border-radius: 8px; transition: transform 0.3s, box-shadow 0.3s;
   
}
>>>>>>> 84279b7f61de852e8499352af9ff7b33bec46f1d
